Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@lucianateixeira 
1
00lucianateixeira/project
 Code Issues 0 Pull requests 0 Actions Projects 0 Wiki Security Insights Settings
project/views/css/BookStyle.css
@lucianateixeira lucianateixeira Rename PaddysCafeStyles.css to BookStyle.css
e188d1a 22 hours ago
38 lines (38 sloc)  701 Bytes
  
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
table, th, td {
     border-collapse: collapse;
     border: 1px solid black;
     text-align: center;
}
 table {
     border-collapse: collapse;
     width:100%;
}
 td, th {
     border: 1px solid #ced4da;
     padding: 0.5rem;
     text-align: left;
}
 th {
     font-weight: bold;
}
.selected {
            background-color: #dc3545;
            color: #FFF;
}
© 2019 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
 
